In [9]:
import pandas as pd

splits = {'train': 'data/train-00000-of-00001-aeefa1eadf5be10b.parquet', 'test': 'data/test-00000-of-00001-0fb9f3a47c7d0fce.parquet', 'valid': 'data/valid-00000-of-00001-51867fe1ac59af78.parquet'}
df = pd.read_parquet("hf://datasets/ChanceFocus/fiqa-sentiment-classification/" + splits["train"])

In [10]:
df

,_id,sentence,target,aspect,score,type
0,1,Royal Mail chairman Donald Brydon set to step ...,Royal Mail,Corporate/Appointment,-0.374,headline
1,100,Slump in Weir leads FTSE down from record high,Weir,Market/Volatility/Volatility,-0.827,headline
2,1000,AstraZeneca wins FDA approval for key new lung...,AstraZeneca,Corporate/Regulatory,0.549,headline
3,1002,UPDATE 1-Lloyds to cut 945 jobs as part of 3-y...,Lloyds,Corporate/Strategy,-0.266,headline
4,1005,Standard Chartered Shifts Emerging-Markets Str...,Standard Chartered,Corporate/Strategy,-0.461,headline
...,...,...,...,...,...,...
817,17383,"$TSLA steaming up again, this stock is relentl...",TSLA,Stock/Price Action/Bullish/Bullish Behavior,0.535,post
818,17387,.@barronsonline sees #Apple at $150/share in a...,AAPL,Stock/Coverage,0.408,post
819,17404,Adobe Receives New Rating from Top Analyst $AD...,ADBE,Stock/Coverage/Credit Rating,0.141,post
820,17409,Activision Blizzard Media Networks Announces R...,HDSI,Corporate/Sales,0.208,post
821,17423,"Also, BMO had just initiated $incy with an out...",INCY,Stock/Coverage/AnalystRatings/Upgrade,0.574,post

In [11]:
df = df[["sentence", "score"]]

In [12]:
df

                                              sentence  score
0    Royal Mail chairman Donald Brydon set to step ... -0.374
1       Slump in Weir leads FTSE down from record high -0.827
2    AstraZeneca wins FDA approval for key new lung...  0.549
3    UPDATE 1-Lloyds to cut 945 jobs as part of 3-y... -0.266
4    Standard Chartered Shifts Emerging-Markets Str... -0.461
..                                                 ...    ...
817  $TSLA steaming up again, this stock is relentl...  0.535
818  .@barronsonline sees #Apple at $150/share in a...  0.408
819  Adobe Receives New Rating from Top Analyst $AD...  0.141
820  Activision Blizzard Media Networks Announces R...  0.208
821  Also, BMO had just initiated $incy with an out...  0.574

[822 rows x 2 columns]

In [13]:
def categorize_sentiment(score):
    if score < -0.33: # negative
        return 0
    elif score > 0.33: # positive
        return 2
    else:               # neutral
        return 1

# ë³€í™˜
df['score'] = df['score'].apply(categorize_sentiment)
df

/tmp/ipykernel_988714/4263228641.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score'] = df['score'].apply(categorize_sentiment)

                                              sentence  score
0    Royal Mail chairman Donald Brydon set to step ...      0
1       Slump in Weir leads FTSE down from record high      0
2    AstraZeneca wins FDA approval for key new lung...      2
3    UPDATE 1-Lloyds to cut 945 jobs as part of 3-y...      1
4    Standard Chartered Shifts Emerging-Markets Str...      0
..                                                 ...    ...
817  $TSLA steaming up again, this stock is relentl...      2
818  .@barronsonline sees #Apple at $150/share in a...      2
819  Adobe Receives New Rating from Top Analyst $AD...      1
820  Activision Blizzard Media Networks Announces R...      1
821  Also, BMO had just initiated $incy with an out...      2

[822 rows x 2 columns]

In [14]:
longest_sentence, longest_length = df.loc[df['sentence'].str.len().idxmax(), ['sentence', 'sentence']].sentence, df['sentence'].str.len().max()
longest_length

np.int64(142)

In [15]:
df = df.rename(columns={'sentence': 'text', 'score': 'label'})
print(df["text"].dtype)
df

# df.to_csv("data_fiqa1.csv", index=False)

object

                                                  text  label
0    Royal Mail chairman Donald Brydon set to step ...      0
1       Slump in Weir leads FTSE down from record high      0
2    AstraZeneca wins FDA approval for key new lung...      2
3    UPDATE 1-Lloyds to cut 945 jobs as part of 3-y...      1
4    Standard Chartered Shifts Emerging-Markets Str...      0
..                                                 ...    ...
817  $TSLA steaming up again, this stock is relentl...      2
818  .@barronsonline sees #Apple at $150/share in a...      2
819  Adobe Receives New Rating from Top Analyst $AD...      1
820  Activision Blizzard Media Networks Announces R...      1
821  Also, BMO had just initiated $incy with an out...      2

[822 rows x 2 columns]